
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rouge/3.27.0/themes/github.min.css">
</head>
<script>
document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll("pre").forEach((block) => {
        // Crear un contenedor para envolver el código y el botón
        let wrapper = document.createElement("div");
        wrapper.classList.add("code-wrapper");

        // Crear el botón de copiado
        let button = document.createElement("button");
        button.innerHTML = '<span class="material-icons">content_copy</span>';
        button.classList.add("copy-btn");

        // Insertar el código y el botón dentro del wrapper
        block.parentNode.insertBefore(wrapper, block);
        wrapper.appendChild(button);
        wrapper.appendChild(block);

        // Evento para copiar el contenido del código
        button.addEventListener("click", () => {
            let code = block.innerText;
            navigator.clipboard.writeText(code).then(() => {
                button.innerHTML = '<span class="material-icons">check</span>';
                setTimeout(() => button.innerHTML = '<span class="material-icons">content_copy</span>', 2000);
            });
        });
    });
});
</script>
<body>
    <section>
        {{ content }} <!-- Aquí se renderiza el contenido de index.html -->
    </section>
    <footer>
        <p>&copy; {{ "now" | date: "%Y" }} {{ site.title }}. Todos los derechos reservados.</p>
    </footer>

</body>
</html>
